# === Android Studio / IntelliJ ===
*.iml
.idea/
.gradle/
local.properties

# === Build outputs ===
/build/
/app/build/
/captures/
/outputs/

# === NDK / C++ build ===
.cxx/
.externalNativeBuild/

# === Sistema ===
.DS_Store
Thumbs.db

# === Logs temporários ===
*.log

# === Ignorar libs NDI fechadas ===
app/src/main/jniLibs/
utils/NDI 6 SDK (Android).7z
*.so
*.dll
*.dylib

